@model ProjectFood.Models.ShoppingList

@{
    ViewBag.Title = Html.DisplayFor(model => model.Title);
}

<div class="page-header">
<h1>@Html.DisplayFor(model => model.Title)</h1>
    </div>

@using (Html.BeginForm("AddItem", "ShoppingLists", FormMethod.Post , new { @class = "bs-component" }))
{
    <div class="col-lg-4">
        <div class="form-group">
            <div class="input-group">
                @Html.TextBox("name", null, new { @class = "form-control", @placeholder = "Indtast Varenavn" })
                <input type="hidden" name="id" value="@Model.ID"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Tilføj vare</button>
                </span>
            </div>
        </div>
    </div>
}

<div class="form-group">
    <table class="table table-striped">
        <tr>
            <th class="col-lg-1"> </th>
            <th>Varenavn</th>
            <th>Kategori</th>
            <!-- <th>Tilbudspris</th>
            <th>Butik</th>-->
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.ActionLink("Fjern", "RemoveItem", 
                        new { id = Model.ID, itemID = item.ID }, 
                        new { @class = "btn btn-danger btn-xs" })
                </td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Category)</td>
            </tr>
        }
        <tr>
            <td></td><td>
            @using (Html.BeginForm("AddItem", "ShoppingLists", FormMethod.Post))
            {
                            @Html.TextBox("name", null, new { @class = "input-sm", @placeholder = "tilføj vare (tryk enter)" })
                            <input type="hidden" name="id" value="@Model.ID" />
            }
            </td><td></td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Ændre navn på listen", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Tilbage til dine lister", "Index")
</p>
