@model ProjectFood.Models.ShoppingList

@{
    ViewBag.Title = Html.DisplayFor(model => model.Title);
}

<div class="page-header">
<h1>@Html.DisplayFor(model => model.Title) <span class="badge">@Model.Items.Count() varer</span></h1>
    </div>

@using (Html.BeginForm("AddItem", "ShoppingLists", FormMethod.Post , new { @class = "bs-component" }))
{
    <div class="col-md-4">
        <div class="form-group">
            <div class="input-group">
                @Html.TextBox("name", null, new { @class = "form-control", @placeholder = "Indtast Varenavn" })
                <input type="hidden" name="id" value="@Model.ID"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Tilføj vare</button>
                </span>
            </div>
        </div>
    </div>
}

<div class="form-group">
    <table class="table table-striped">
        <tr>
            <th class="col-md-1 text-center">Fjern</th>
            <th>Varenavn</th>
            <th class="col-md-1">Pris</th>
            <th class="col-md-1">Butik</th>
            <th class="col-md-1">Udløber</th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <a href="@Url.Action("RemoveItem", 
                        new { id = Model.ID, itemID = item.ID })" 
                       class="btn btn-danger btn-xs btn-block">
                            <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
                <td onclick="StrikeTrough(this)">@Html.DisplayFor(modelItem => item.Name)</td>
                @if (item.Offers.Count > 0)
                {
                    <td class="col-md-1">@Html.DisplayFor(modelItem => item.Offers.First().Price)</td>
                    <td class="col-md-1">@Html.DisplayFor(modelItem => item.Offers.First().Store)</td>
                    <td class="col-md-1">@Html.DisplayFor(modelItem => item.Offers.First().End)</td>
                }
                else
                {
<td></td><td></td><td></td>
                }
                
            </tr>
        }
        <tr>
            <td></td><td>
            @using (Html.BeginForm("AddItem", "ShoppingLists", FormMethod.Post))
            {
                            @Html.TextBox("name", null, new { @class = "input-sm", @placeholder = "tilføj vare (tryk enter)" })
                            <input type="hidden" name="id" value="@Model.ID" />
            }
            </td><td></td><td></td><td></td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Ændre navn på listen", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Tilbage til alle indkøbslister", "Index") |
    @Html.ActionLink("Ryd Liste", "ClearShoppingList", new { id = Model.ID })
</p>

@section Scripts {                              @*  Don't question the JavaScript-Gods!!!                             *@
        @Scripts.Render("~/bundles/homemade")   @*  Magic part that makes the buttons change if POST was succesfull   *@
        @Scripts.Render("~/bundles/jqueryval")  @*  Magic part that makes the AJAX POST possible                      *@
}
