@using ProjectFood.Models
@model IEnumerable<ProjectFood.Models.ShoppingList>

@{
    ViewBag.Title = "Indkøbslister";
}
<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h1><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Indkøbslister</h1>
        </div>
        <div class="col-md-4">
            <div class="row">&nbsp;</div>
            <div onclick="$('div#createModal').modal('show'); setTimeout(function () { $('input#title').focus() }, 500);" class="btn btn-primary btn-lg btn-block">
                Opret ny indkøbsliste
            </div>
        </div>
    </div>
</div>
   
@Html.Partial("_CreateShoppingList")

<div class="row">
    <h2>Personlige</h2>
    @if(Model.Count() < 1) {
        <div class="alert alert-warning" role="alert"
             onclick="$('div#createModal').modal('show'); $('input#title').focus();"
             style="cursor:pointer">
            Du har ingen personlige indkøbslister. Klik her for at oprette en.
        </div>
    }

    <table class="table table-striped table-hover">
        @foreach(var list in Model) {
            <tr>
                <td class="lead"
                    style="vertical-align:middle; cursor:pointer;"
                    onclick="window.location = '@Url.Action("Details", new { id = list.ID })'">
                    &nbsp;&nbsp;
                    @Html.DisplayFor(modelItem => list.Title)
                    <span class="badge">@(((IEnumerable<ProjectFood.Models.ShoppingList>)ViewBag.NumItems).Where(x => x.ID == list.ID).First().Items.Count)</span>
                </td>
                <td class="col-md-2">
                    @Html.ActionLink("Tilføj og fjern varer", "Details", new { id = list.ID }, new { @class = "btn btn-info btn-block" })
                </td>
                <td class="col-md-2 text-center">

                    <a href="@Url.Action("Delete", new { id = list.ID })" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }

    </table>

</div>



<div class="row">
    <h2>Delte</h2>
    @if(((IEnumerable<ShoppingList>)ViewBag.SharedLists).Count() < 1) {
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            Du har ingen delte indkøbslister
        </div>
    }
    
    <table class="table table-striped table-hover">
        @foreach(ShoppingList list in ViewBag.SharedLists) {
            <tr>
                <td class="lead"
                    style="vertical-align:middle; cursor:pointer;"
                    onclick="window.location = '@Url.Action("Details", new { id = list.ID })'">
                    &nbsp;&nbsp;
                    @list.Title
                    <span class="badge">@(((IEnumerable<ProjectFood.Models.ShoppingList>)ViewBag.NumItems).Where(x => x.ID == list.ID).First().Items.Count)</span>
                </td>
                <td class="col-md-2">
                    @Html.ActionLink("Tilføj og fjern varer", "Details", new { id = list.ID }, new { @class = "btn btn-info btn-block" })
                </td>
                <td class="col-md-2 text-center">

                    <a href="@Url.Action("Delete", new { id = list.ID })" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>



@section Scripts {                              @*  Don't question the JavaScript-Gods!!!                             *@
@Scripts.Render("~/bundles/homemade")   @*  Magic part that makes the buttons change if POST was succesfull   *@
@Scripts.Render("~/bundles/jqueryval")  @*  Magic part that makes the AJAX POST possible                      *@
}
