@model IEnumerable<ProjectFood.Models.ShoppingList>

@{
    ViewBag.Title = "Indkøbslister";
}

<div class="page-header">
    <h1>Indkøbslister</h1>
</div>

@if (Model.ToList().Count == 0)
{
    using (Html.BeginForm("Create", "ShoppingLists", FormMethod.Post, new { @class = "bs-component" }))
    {
        @Html.AntiForgeryToken()
        <div class="alert alert-warning">
            <h4>Åh nej!</h4>
            <p>
                Der er endnu ikke oprettet nogle indkøbslister! <br /><br />
                <div class="input-group col-lg-3">
                    @Html.TextBox("Title", "", new { @placeholder = "navn på indkøbsliste", @class = "form-control" })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Opret!</button>
                    </span>
                </div>


            </p>
        </div>
    }
}
else
{
    <table class="table table-striped">
        @foreach (var list in Model)
        {
            <tr>
                <td style="vertical-align:middle">
                        <a href="@Url.Action("Details", new { id = list.ID })">@Html.DisplayFor(modelItem => list.Title)</a>
                </td>
                <td class="col-md-2">
                    @Html.ActionLink("Tilføj og fjern varer", "Details", new { id = list.ID }, new { @class = "btn btn-info btn-block" })
                </td>
                <td class ="col-md-2 text-center">
                    <a href="@Url.Action("Delete", new { id = list.ID })" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Opret ny indkøbsliste", "Create", null, new { @class = "btn btn-default btn-lg btn-block" })
    </p>
}

@section Scripts {                              @*  Don't question the JavaScript-Gods!!!                             *@
        @Scripts.Render("~/bundles/homemade")   @*  Magic part that makes the buttons change if POST was succesfull   *@
        @Scripts.Render("~/bundles/jqueryval")  @*  Magic part that makes the AJAX POST possible                      *@
}


