@model ProjectFood.Models.ShoppingList

@{
    ViewBag.Title = "Overvågningsliste";
}

<div class="page-header nopadding-xs">
    <div class="col-md-8">
        <h1><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp; @ViewBag.Title</h1>
        <p class="hidden-xs lead text-muted">
            Her kan du sætte varer på en overvågningsliste, og på den måde, vil du modtage en email, når varen kommer på tilbud. Desuden kan du tilføje et af tilbudene til din valgte indkøbsliste.
            Du kan altid holde let øje med din overvågningsliste på forsiden.
        </p>
    </div>
    <div class="col-md-4">
        <div class="container-fluid nopadding">
            @if(ViewBag.ShoppingLists != null && ViewBag.ShoppingLists.Count > 0) {
                List<SelectListItem> listItems = new List<SelectListItem>();

                foreach(var list in ViewBag.ShoppingLists) {
                    listItems.Add(new SelectListItem { Text = list.Title, Value = list.ID.ToString() });
                }
                <label for="Selection">Vælg indkøbsliste</label>
                @Html.DropDownList("ListSelect", listItems, new { @id = "Selection", @class = "form-control", @onchange = "GetSelectedListWL()" })

            } else {
                <div class="row">&nbsp;</div>
                <div onclick="$('div#createModal').modal('show'); setTimeout(function () { $('input#title').focus() }, 1000);" class="btn btn-primary btn-block">
                    Opret ny indkøbsliste
                </div>
                @Html.Partial("_CreateShoppingList")
        }</div>
    </div>
</div>
<hr />

<div class="container-fluid nopadding">
    <div class="col-md-6">
        @using(Html.BeginForm(
        "AddItem",
        "ShoppingLists",
        new { amount = 0, unit = string.Empty },
        FormMethod.Get,
        new { @class = "form-group" }
        )) {
            <div class="input-group">
                @Html.TextBox("name", null, new { @class = "form-control", @placeholder = "Indtast Varenavn" })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Tilføj vare</button>
                </span>
            </div>

            <input type="hidden" name="id" value="@Model.ID" />
        }
    </div>
</div>

<div class="container-fluid nopadding">
    <table class="table table-striped">
        <tr>
            <th class="col-md-1 text-center">Fjern</th>
            <th>Varenavn</th>
            <th colspan="5"></th>
            <th class="col-md-1 text-center">Se tilbud</th>
        </tr>
        @foreach(var item in Model.Items) {
            <tr class="lead">
                <td>
                    <a href="@Url.Action("RemoveItem",
                             new {id = Model.ID, itemID = item.ID})"
                       class="btn btn-danger btn-sm btn-block">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
                <td colspan="6">
                    @(item.Name.First().ToString().ToUpper() + item.Name.Substring(1))
                </td>
                @if(item.Offers.Count > 0) {
                    <td class="col-md-1">
                        <div onclick="$('tr#ShowOfferAll_@item.ID').toggle('slow'); $(this).children('#icon').toggleClass('glyphicon-collapse-down').toggleClass('glyphicon-collapse-up');"
                             class="text-center btn btn-info"
                             style="cursor:pointer">
                            <span id="icon" class="glyphicon glyphicon-collapse-down"></span><span class="badge">@item.Offers.Count()</span>
                        </div>
                    </td>
                } else {
                    <td></td>
                }
            </tr>
            <tr style="display: none" id="ShowOfferAll_@item.ID">
                <th colspan="2"></th>
                <th>Mængde</th>
                <th>Pris</th>
                <th>Begynder</th>
                <th>Udløber</th>
                <th>Butik</th>
                <th></th>
            </tr>
            foreach(var offer in item.Offers) {
                <tr style="display: none" id="ShowOfferAll_@item.ID">
                    <td></td>
                    <td>@offer.Heading</td>
                    <td>@offer.Unit</td>
                    <td>@offer.Price</td>
                    <td>@offer.Begin.ToString("ddd d- M")</td>
                    <td>@offer.End.ToString("ddd d- M")</td>
                    <td>@offer.Store</td>
                    <td>
                        @if(ViewBag.ShoppingLists.Count > 0) {
                            using(Ajax.BeginForm(
                            "AddItem",
                            "ShoppingLists",
                            new AjaxOptions { HttpMethod = "POST", OnSuccess = "ChangeButton" }
                            )) {
                                <input type="hidden" id="SelectedList" name="id" value="@ViewBag.ShoppingLists[0].ID" />
                                <input type="hidden" name="name" value="@item.Name" />
                                <input type="hidden" name="offerID" value="@offer.ID" />
    <button id="AddButton_@offer.ID" class="btn btn-info btn-xs btn-block"><span class="glyphicon glyphicon-plus"></span></button>
                            }
                        }
                        else
                        {
                            <div onclick="$('div#createModal').modal('show'); setTimeout(function () { $('input#title').focus() }, 1000);" 
                                 class="btn btn-primary btn-xs btn-block"
                                 style="cursor: pointer">
                                Opret ny indkøbsliste
                            </div>
                        }


                    </td>
                </tr>
            }
        }
    </table>
</div>

@if(ViewBag.SelectedItem != null) {
    <script>
        window.onload = function () {
            $('tr#ShowOfferAll_@ViewBag.SelectedItem').toggle('slow');
        };

    </script>
}

@section Scripts {                          @*  Don't question the JavaScript-Gods!!!                             *@
@Scripts.Render("~/bundles/homemade")   @*  Magic part ...                                                    *@
@Scripts.Render("~/bundles/jqueryval")  @*  Magic part that makes the AJAX POST possible                      *@
}
