@model ProjectFood.Models.ShoppingList

@{
    ViewBag.Title = "Overvågningsliste";
}

<script type="text/javascript">
    function ShowOffers(json) {
        var offers = JSON.parse(json.jsonOffers);
        $('#modalTitle').html('Tilbud på ' + json.itemName);
        var offerTable = "<table class='table table-hover table-condensed'>";
        for (var i = 0; i < offers.length; i++) {
            offerTable += "<tr id='" +
                offers[i].ID + "' ><td>" +
                offers[i].Heading + "</td><td class='col-md-1'>" +
                offers[i].Unit + "</td><td class='col-md-1'>" +
                offers[i].Price + " kr.</td><td class='col-md-1'>" +
                offers[i].Store + "</td></tr>";
        }
        offerTable += "</table>";
        $('#modalBody').html(offerTable);
        $('#offerModal').modal('show');
    };

    function GetSelectedListWL(){
        $('input#SelectedList').val($('#Selection').val());

        $.snackbar({ content: "Indkøbsliste valgt" , style: "snackbar"});
    };

    function ChangeButton(json) {
        $('#AddButton_' + json.offerID).removeClass('btn-primary').addClass('btn-success');
        $('#AddButton_' + json.offerID).children().removeClass('glyphicon-plus').addClass('glyphicon-ok');
    };
</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>

    <p class="lead">
        Her kan du sætte varer på en overvågningsliste, og på den måde, vil du modtage en notifikation, når varen kommer på tilbud.
    </p>
</div>

<div class="col-md-4 col-md-offset-8">
    @if (ViewBag.ShoppingLists != null && ViewBag.ShoppingLists.Count > 0)
                {
                    List<SelectListItem> listItems = new List<SelectListItem>();

                    foreach (var list in ViewBag.ShoppingLists)
                    {
                        listItems.Add(new SelectListItem { Text = list.Title, Value = list.ID.ToString() });
                    }
        <label for="Selection">Vælg indkøbsliste</label>
        @Html.DropDownList("ListSelect", listItems, new { @id = "Selection", @class = "form-control", @onchange = "GetSelectedListWL()" })

                }
                </div>
    <hr />

    <div class="row">
        @using(Html.BeginForm(
        "AddItem",
        "ShoppingLists",
        new { amount = 0, unit = string.Empty },
        FormMethod.Get,
        new { @class = "navbar-form navbar-left" }
        )) {
            <div class="form-group">
                <div class="col-md-4">
                    @Html.TextBox("name", null, new { @class = "form-control", @placeholder = "Indtast Varenavn" })
                </div>
            </div>

            <input type="hidden" name="id" value="@Model.ID" />

            <button type="submit" class="btn btn-default">Tilføj vare</button>


    }
    </div>

    <div id="offerModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 id="modalTitle" class="modal-title">Tilbud</h4>
                </div>
                <div class="modal-body">
                    <p id="modalBody"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="form-group">
        <table class="table table-striped">
            <tr>
                <th class="col-md-1 text-center">Fjern</th>
                <th>Varenavn</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="col-md-1 text-center">Se tilbud</th>
            </tr>
            @foreach(var item in Model.Items) {
                <tr class="lead">
                    <td>
                        <a href="@Url.Action("RemoveItem",
                             new {id = Model.ID, itemID = item.ID})"
                           class="btn btn-danger btn-sm btn-block">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                    <td>
                        @(item.Name.First().ToString().ToUpper() + item.Name.Substring(1))
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    @if(item.Offers.Count > 0) {
                        <td class="col-md-1">
                            <div onclick="$('tr#ShowOfferAll_@item.ID').toggle('slow'); $(this).children('#icon').toggleClass('glyphicon-collapse-down').toggleClass('glyphicon-collapse-up');"
                                 class="text-center">
                                <span id="icon" class="glyphicon glyphicon-collapse-down"></span><span class="badge">@item.Offers.Count()</span>
                            </div>
                        </td>
                    } else {
                        <td></td>
                    }
                    @*
                                        <td class="col-md-1">
                            @using(Ajax.BeginForm(
                                "GetOffersForItem",
                                "ShoppingLists",
                                new { id = item.ID },
                                new AjaxOptions { HttpMethod = "POST", OnSuccess = "ShowOffers" })) {
                                <div onclick="$(this).parent().submit()" class="btn btn-info btn-xs btn-block">
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                </div>
                            }
                        </td>
                    *@

                </tr>
                foreach(var offer in item.Offers) {
                <tr style="display: none" id="ShowOfferAll_@item.ID">
                    <td>@*Should be Empty*@</td>
                    <td>@offer.Heading</td>
                    <td>@offer.Unit</td>
                    <td>@offer.Price</td>
                    <td>@offer.Begin.ToString("ddd d- M")</td>
                    <td>@offer.End.ToString("ddd d- M")</td>
                    <td>@offer.Store</td>
                    <td>
                        @using(Ajax.BeginForm(
                            "AddItem", 
                            "ShoppingLists", 
                            new AjaxOptions {HttpMethod = "POST", OnSuccess="ChangeButton"},
                            new {@class = "form-group"}
                            ))
	{
                            <input type="hidden" id="SelectedList" name="id" value="@ViewBag.ShoppingLists[0].ID" />
                            <input type="hidden" name="name" value="@item.Name" />
                            <input type="hidden" name="offerID" value="@offer.ID" />
    <button id="AddButton_@offer.ID" class="btn btn-primary btn-xs btn-block"><span class="glyphicon glyphicon-plus"></span></button>
	}
                        
                    </td>
                </tr>
            }
        }
        </table>
    </div>

<span data-toggle=snackbar data-content="This is my awesome snackbar!">Click me</span>

@if(ViewBag.SelectedItem != null) {
    <script>
        window.onload = function () {
            $('tr#ShowOfferAll_@ViewBag.SelectedItem').toggle('slow');
        };

    </script>
}

    @section Scripts {                          @*  Don't question the JavaScript-Gods!!!                             *@
    @Scripts.Render("~/bundles/homemade")   @*  Magic part ...                                                    *@
    @Scripts.Render("~/bundles/jqueryval")  @*  Magic part that makes the AJAX POST possible                      *@
    }
