@model ProjectFood.Models.IndexViewModel
@{
    ViewBag.Title = "Bruger: " + @User.Identity.Name;
}

<div class="page-header">
    <h1>Hej @if(ViewBag.User.Name != null) {
                 @ViewBag.User.Name
            }else
	{
                @User.Identity.Name
	}</h1>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Sikkerhed</h3></div>
            <div class="panel-body">
                @if(Model.HasPassword) {
                    @Html.ActionLink("Skift kodeord", "ChangePassword", null, new { @class="btn btn-primary btn-lg btn-block" })
                } else {
                    @Html.ActionLink("Opret kodeord", "SetPassword", null, new { @class = "btn btn-primary btn-lg btn-block" })
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Præferencer</h3></div>
            <div class="panel-body">
                <a href="@Url.Action("EditPreferences", "User", new { username = User.Identity.Name})" class="btn btn-primary btn-lg btn-block">Rediger præferencer</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Butikker</h3></div>
            <div class="panel-body">
                <a href="@Url.Action("EditStores", "User", new { username = User.Identity.Name})"
                   class="btn btn-primary btn-lg btn-block">
                    Rediger
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Personlig data</h3></div>
            <div class="panel-body">
                @using(Html.BeginForm("EditName", "User", new { username = User.Identity.Name }, FormMethod.Post, new { @class = "form-group" })) {
                    @Html.AntiForgeryToken()

                    <div class="input-group input-group-lg">
                        @Html.TextBox("name", "", new { @placeholder = "Vist navn", @class = "form-control" })
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Gem</button>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>