@model ProjectFood.Models.User
@{
    ViewBag.Title = "Bruger: " + @User.Identity.Name;
}

<div class="page-header">
    <h1>Hej @if(ViewBag.User.Name != null) {
                 @ViewBag.User.Name
            }else
	{
                @User.Identity.Name
	}</h1>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>


<div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Sikkerhed</h4></div>
            <div class="panel-body">
                    @Html.ActionLink("Skift kodeord", "ChangePassword", null, new { @class="btn btn-primary btn btn-block" })
            </div>
        </div>
    <div class="panel panel-default panel">
        <div class="panel-heading"><h4>Dit navn</h4></div>
        <div class="panel-body">
            @using (Html.BeginForm("EditName", "User", new { username = User.Identity.Name }, FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()

                <div class="input-group input-groupf">
                    @Html.TextBox("name", "", new { @placeholder = "Vist navn", @class = "form-control" })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-group-justified">Gem</button>
                    </span>
                </div>
            }
        </div>
    </div>



    <div class="col-md-6">
        <div class="well">
            <div class="lead">
                Tilføj ting du <span class="text-danger">ikke</span> ønsker at købe. Dette kan ekspelvis være varer, som du er allergisk overfor.
                <hr />
            </div>
            <div class="form-group">
                @using (Html.BeginForm("AddPreference", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="username" value="@User.Identity.Name" />
                    <input type="hidden" name="store" value="false" />
                    <div class="input-group input-group">
                        @Html.TextBox("pref", "", new { @id = "autocomplete", @placeholder = "indtast her", @class = "form-control" })
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Tilføj</button>
                        </span>
                    </div>
                }
            </div>

            <div class="list-group">

                @foreach (var pref in Model.Preferences.Where(p => p.Store == false))
                {
                    <div class="list-group-item">
                        <span class="lead">
                            <a href="@Url.Action("RemovePreference",
                             new {username = User.Identity.Name, prefId = @pref.ID})"
                               class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>&nbsp;&nbsp;&nbsp;@pref.Value
                        </span>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
