@using System.Globalization;
@{
    ViewBag.Title = "Home Page";
}

<div class="page-header nopadding-xs">
    <h1>Velkommen til ProjectFood</h1>
</div>
@*<div class="jumbotron">
        <h1>ProjectFood</h1>
        <p class="lead">ProjectFood er et 3. semester projekt udført af en gruppe software-studerende på Aalborg Universitet</p>
        <p>Status med projektet:</p>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 67%"></div>
        </div>
        <p><a href="http://www.cs.aau.dk" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

@if(User.Identity.IsAuthenticated) {
    <div class="container-fluid nopadding">
        @if(ViewBag.WatchList != null) {
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading lead">Tilbud til dig</div>
                    <div class="panel-body">
                        <div class="list-group">
                            @foreach(var item in ((ProjectFood.Models.ShoppingList)ViewBag.WatchList).Items) {

                                <a href="@Url.Action("WatchList", "ShoppingLists", new { itemID = item.ID })" class="list-group-item lead">
                                    @(item.Name.First().ToString().ToUpper() + item.Name.Substring(1))
                                    <span class="badge">@item.Offers.Count</span>
                                </a>
                            }
                            <a href="@Url.Action("WatchList", "ShoppingLists")" class="list-group-item list-group-item-info">
                                @(((ProjectFood.Models.ShoppingList)ViewBag.WatchList).Items.Count == 0 ?
                                    "Tilføj varer til din overvågningsliste" :
                                    "Rediger overvågningsliste")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if(ViewBag.ShoppingLists != null) {
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading lead">Dine indkøbslister</div>
                    <div class="panel-body">
                        <div class="list-group">
                            @foreach(var list in (IEnumerable<ProjectFood.Models.ShoppingList>)ViewBag.ShoppingLists) {

                                <a href="@Url.Action("Details", "ShoppingLists", new { id = list.ID })" class="list-group-item lead">
                                    @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(list.Title)
                                    <span class="badge">@list.Items.Count</span>
                                </a>
                            }
                            @if(((IEnumerable<ProjectFood.Models.ShoppingList>)ViewBag.ShoppingLists).Count() == 0) {
                                <a onclick="$('div#createModal').modal('show'); setTimeout(function () { $('input#title').focus() }, 1000);" 
                                   class="list-group-item list-group-item-info"
                                   style="cursor:pointer">
                                    Opret ny indkøbsliste
                                </a>
                                @Html.Partial("_CreateShoppingList")
                            } else {
                                <a href="@Url.Action("Index", "ShoppingLists")" class="list-group-item list-group-item-info">
                                    Se alle indkøbslister
                                </a>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading lead">Anbefalede opskrifter</div>
                <div class="panel-body">
                    @{
                        int i = 1;
                        if (((IEnumerable<ProjectFood.Models.Recipe>) ViewBag.Recipes).Any())
                        {
                            foreach (var recipe in (IEnumerable<ProjectFood.Models.Recipe>) ViewBag.Recipes)
                            {
                                <div class="col-md-4">
                                    <div class="panel panel-default"
                                         style="cursor: pointer;"
                                         onmouseover=" $(this).removeClass('panel-default').addClass('panel-info'); "
                                         onmouseout=" $(this).addClass('panel-default').removeClass('panel-info'); "
                                         onclick=" window.location = '@Url.Action("details", "Recipes", new {id = recipe.ID})' ">
                                        <div class="panel-heading">
                                            <h3>@recipe.Title</h3>
                                        </div>
                                        <div class="panel-body">
                                            <h4><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;@Html.DisplayFor(modelItem => recipe.Minutes) Minutter</h4>
                                            <h4>
                                                <span class="glyphicon glyphicon-star"></span>
                                                @{
                                                    if (recipe.Ratings.Select(x => x.Score).Count() == null || recipe.Ratings.Select(x => x.Score).Count() == 0)
                                                    {
                                                        <span>Ingen vuderinger givet</span>
                                                    }
                                                    else
                                                    {
                                                        var rat = recipe.Ratings.Select(x => x.Score);

                                                        @rat.Average()
                                                        ;
                                                    }
                                                }
                                            </h4>
                                            <table class="table-condensed">
                                                @foreach (var ingredient in recipe.Ingredients.Take(3))
                                                {
                                                    <tr>
                                                        <td>@ingredient.Name</td>
                                                    </tr>
                                                }
                                                @if (recipe.Ingredients.Count() > 3)
                                                {
                                                    <tr>
                                                        <td>&hellip;</td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                if (i%3 == 0)
                                {
                                    <div class="row"></div>
                                }
                                i++;
                            }
                        }
                    }

                </div>
            </div>
        </div>
    </div>
}