@model ProjectFood.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<script type="text/javascript">
    function GetSelectedList() {
        $('input#shoppingListId').val($('#Selection').val());
    };
</script>

<div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h1>@Model.Title &nbsp;&nbsp; 
                <span class="label label-default">
                    <span id="avgRating">@(((decimal)ViewBag.AverageScore).ToString("0.0"))</span>
                    <span class="glyphicon glyphicon-star"></span>
                    <small> - <span id="numRatings">@ViewBag.RatingCount</span> brugere</small>
                </span>
            </h1>
            <small class="text-muted">
                Lavet af
                @if (ViewBag.Author == null || ViewBag.Author.Name == string.Empty)
                {
                    @Model.AuthorName.ToString()
                }
                else
                {
                    @ViewBag.Author.Name
                }
                @if (Model.OriginalAuthorName != Model.AuthorName)
                {
                    <text> - original opskrift af </text>
                    if (ViewBag.OriginalAuthor == null || ViewBag.OriginalAuthor.Name == string.Empty)
                    {
                        @Model.OriginalAuthorName.ToString()
                    }
                    else
                    {
                        @ViewBag.OriginalAuthor.Name
                    }
                }
            </small>
                <p class="lead"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;@Model.Minutes Minutter</p>
            <p class="hidden">Tags - @Model.Tags</p>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div class="row">
                @if (ViewBag.ShoppingLists != null && ViewBag.ShoppingLists.Count > 0)
                {
                    List<SelectListItem> listItems = new List<SelectListItem>();

                    foreach (var list in ViewBag.ShoppingLists)
                    {
                        listItems.Add(new SelectListItem { Text = list.Title, Value = list.ID.ToString() });
                    }
                    <label for="Selection">Vælg indkøbsliste</label>
                    @Html.DropDownList("ListSelect", listItems, new { @id = "Selection", @class = "form-control", @onchange = "GetSelectedList()" })

                }
            </div>
            <div class="row h3">
                @if(User.Identity.IsAuthenticated) {

                    using(Ajax.BeginForm(
                        "AddRating",
                        new { id = Model.ID },
                        new AjaxOptions { HttpMethod = "POST", OnSuccess = "UpdateStarsAndAvg" },
                        new { @class = "form-group h1", @id = "starForm" }
                        )) {
                        var rating = ViewBag.UserRating != null ? ViewBag.UserRating.Score : 0;
                        <input id="rateVal" type="hidden" name="rating" value="@((int)rating)" />
                        

                        for(int i = 1; i <= 5; i++) {
                            string star = rating >= i ? "glyphicon-star" : "glyphicon-star-empty"; ;
                            <span id="@i" class="glyphicon @star" onmouseover="DrawStars('@i')" onmouseout="DrawStars($('#rateVal').val())" onclick="ClickedStar(@i)"></span>
                        }
                    }
                }

            </div>

            <div class="row">
                @using (Html.BeginForm("Details", "Recipes", FormMethod.Post))
                {
                    <label class="control-label">Antal personer</label>
                    @Html.TextBox("numPersons", null, new { @type = "number", @class = "form-control", @value = "4", @onchange = "$(this).parent().submit();" })
                }

            </div>
            <br />
            <div class="row">
                @if (User.Identity.IsAuthenticated == true)
                {
                    if (User.Identity.Name == Model.AuthorName)
                    {
                        @Html.ActionLink("Rediger opskrift", "Edit", new { id = Model.ID, fork = false }, new { @class = "btn btn-info btn-block" })
                    }
                    else
                    {
                        @Html.ActionLink("Lav din egen version af opskriften", "Edit", new { id = Model.ID, fork = true }, new { @class = "btn btn-info btn-block" })
                    }   
                }

            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-5">
        <table class="table table-striped">
            <tr>
                @if (ViewBag.ShoppingLists != null && ViewBag.ShoppingLists.Count > 0)
                {
                    <th class="col-md-1">Tilføj vare</th>
                }
                <th class="col-md-2"></th>
                <th>Ingrediens</th>
            </tr>
            @{
                foreach (var item in Model.Ingredients)
                {
                    var ingredientRel = ((IEnumerable<ProjectFood.Models.Recipe_Ingredient>)ViewBag.Recipe_Ingredient)
                            .Where(x => x.IngredientID == item.ID)
                            .First();
                    <tr>

                        @if (ViewBag.ShoppingLists != null && ViewBag.ShoppingLists.Count > 0)
                        {
                            <td class="col-md-1">
                                @using (Ajax.BeginForm(
                        "AddItemToShoppingList",
                        new { itemID = item.ID, amount = ingredientRel.AmountPerPerson, unit = ingredientRel.Unit },
                        new AjaxOptions { HttpMethod = "POST", OnSuccess = "ChangeToCheckRecipe" }))
                                {
                                    <input type="hidden" name="shoppingListId" id="shoppingListId" value="@ViewBag.ShoppingLists[0].ID" />
                                    <button id="AddItem_@item.ID" type="submit" class="btn btn-info btn-xs btn-block">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                }
                            </td>
                        }
                        <td class="col-md-2 text-right">
                            @if (ingredientRel.AmountPerPerson > 0)
                            {
                                <span>@(ingredientRel.AmountPerPerson * ViewBag.numPersons) @ingredientRel.Unit</span>
                            }

                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="col-md-7">
        <div class="well">
            <span style="white-space: pre-line">@Model.Instructions</span>
        </div>
    </div>
</div>
<p>
    @if (User.Identity.Name == Model.AuthorName)
    {
        @Html.ActionLink("Ændre opskrift", "Edit", new { id = Model.ID, fork = false }) <text>|</text>
        @Html.ActionLink("Slet opskrift", "Delete", new { id = Model.ID }) <text>|</text>
    }
    else
    {
        @Html.ActionLink("Lav din egen version af opskriften", "Edit", new { id = Model.ID, fork = true }) <text>|</text>
    }

    @Html.ActionLink("Tilbage til opskrifter", "Index")

</p>


@section Scripts {                          @*  Don't question the JavaScript-Gods!!!                             *@
@Scripts.Render("~/bundles/homemade")   @*  Magic part that makes the buttons change if POST was succesfull   *@
@Scripts.Render("~/bundles/jqueryval")  @*  Magic part that makes the AJAX POST possible                      *@
}
