@using ProjectFood.Models
@model IEnumerable<ProjectFood.Models.Recipe>

@{
    ViewBag.Title = "Opskrifter";
}

<div class="page-header nopadding-xs">
    <div class="container-fluid nopadding">
        <div class="col-md-9 nopadding">
            <h1>
                <span class="glyphicon glyphicon-cutlery"></span>&nbsp;&nbsp;Opskrifter&nbsp;&nbsp;&nbsp;&nbsp;
            </h1>
            <p class="hidden-xs lead text-muted">
                Her kan du finde opskrifter lagt op af ProjectFoods brugere. Du kan selv tilføje opskrifter, samt sortere og søge i opskrifterne.
            </p>
        </div>
        <div class="hidden-xs col-md-3 nopadding">
            <div class="row">&nbsp;</div>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Create")" class="btn btn-lg btn-success btn-block">Opret ny opskrift</a>
            }
        </div>
    </div>
</div>
<div class="container-fluid nopadding">
    @using (Html.BeginForm("Index", "Recipes", FormMethod.Get))
    {
        <div class="col-md-4 nopadding-sides-xs" style="padding-left:0px;">
            <label class="sr-only" for="searchString">Søg på opskrifter</label>
            <div class="input-group">
                @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "Indtast Opskriftnavn ex. Lasagne" })
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </div>
        <div class="visible-xs row">&nbsp;</div>
        <div class="col-md-4 nopadding-sides-xs" style="padding-right:0px; padding-left:0px;">
            @{
        List<SelectListItem> listItems = new List<SelectListItem>();
        listItems.Add(new SelectListItem { Text = "Dato (Nyeste først)", Selected = true, Value = "New" });
        listItems.Add(new SelectListItem { Text = "Dato (Ældste først)", Selected = ViewBag.Selected.Equals("Old"), Value = "Old" });
        listItems.Add(new SelectListItem { Text = "Anbefalinger", Selected = ViewBag.Selected.Equals("Recommend"), Value = "Recommend" });
        listItems.Add(new SelectListItem { Text = "Bedømmelse (Faldende)", Selected = ViewBag.Selected.Equals("High"), Value = "High" });
        <label class="sr-only" for="Selection">Sorter Opskrifter</label>
                <div class="input-group">
                    @Html.DropDownList("sort", listItems, new { @id = "Selection", @class = "form-control", @onchange = "this.form.submit()" })
                    <div class="input-group-btn">
                        <div class="btn btn-primary" onclick="$(this).parents().submit()"><span class="glyphicon glyphicon-sort-by-attributes"></span></div>
                    </div>
                </div>
            }
        </div>
    }
</div>
<div class="row">&nbsp;</div>
<div class="row">

    @{int i = 1;
    foreach (var recipe in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default"
                 style="cursor: pointer;"
                 onmouseover=" $(this).removeClass('panel-default').addClass('panel-info'); "
                 onmouseout=" $(this).addClass('panel-default').removeClass('panel-info'); "
                 onclick="window.location='@Url.Action("details", new {id = recipe.ID})'">
                <div class=" panel-heading"><h3>@recipe.Title</h3></div>
                <div class="panel-body">
                    <h4><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;@Html.DisplayFor(modelItem => recipe.Minutes) Minutter</h4>
                    <h4>
                        <span class="glyphicon glyphicon-star"></span>
                        @{
        if (recipe.Ratings.Select(x => x.Score).Count() == null || recipe.Ratings.Select(x => x.Score).Count() == 0)
        {
            <span>Ingen vuderinger givet</span>
        }
        else
        {
            var rat = recipe.Ratings.Select(x => x.Score);

            @rat.Average().ToString("0.##")
            ;
        }
                        }
                    </h4>
                    <table class="table-condensed">
                        @foreach (var ingredient in recipe.Ingredients.Take(3))
                        {
                            <tr>
                                <td>@ingredient.Name</td>
                            </tr>
                        }
                        @if (recipe.Ingredients.Count() > 3)
                        {
                            <tr>
                                <td>&hellip;</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        if (i % 3 == 0)
        {
            <div class="row"></div>
        }
        i++;
    }
    }

</div>
