@using System.Activities.Expressions
@using System.Web.UI.WebControls
@using ProjectFood.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Indkøbsliste";
    @model ProjectFood.Models.ShoppingList
}

<h1>Din Indkøbsliste</h1>

@using (Html.BeginForm("Add", "ShoppingList", new { @class = "bs-component"}))
{
    <div class="col-lg-4">
        <div class="form-group">
            <div class="input-group">
                @Html.TextBox("name", null, new { @class = "form-control", @placeholder = "Indtast Varenavn" })
                <span class="input-group-btn">
                    <input type="submit" value="Tilføj Vare" class="btn btn-default" />
                </span>
            </div>
        </div>
    </div>
}

<div class="form-group">
    <table class="table table-striped">
        <tr>
            <th class="col-md-1"> </th>
            <th>Varenavn</th>
            <th>Kategori</th>
            <th>Tilbudspris</th>
            <th>Butik</th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @using (Html.BeginForm("Remove", "ShoppingList"))
                    {
                        <input type="submit" value="Fjern" class="btn btn-danger btn-xs" />
                        <input type="hidden" name="id" value="@Model.Items.IndexOf(item)" />
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                <td>@Html.DisplayFor(modelItem => item.Offers.First().Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Offers.First().Store)</td>
            </tr>
        }
    </table>
</div>
