@model IEnumerable<ProjectFood.Models.Offer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "OfferIMPORT";
}

<div class="page-header">


    @if(Model.ToList().Count == 0) {
        @Html.ActionLink("PANIC AT THE DISCO", "ImportOffers", null, new { @class = "btn btn-danger btn-block" })
    } else {
        <div class="row">
            <div class="col-md-3"><h1><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Tilbud</h1></div>
            <div class="col-md-3"><h1><a href="@Url.Action("Search")">Søg</a></h1></div>
            <div class="col-md-6">

                @{if(ViewBag.ShoppingLists.Count > 0) {
                    List<SelectListItem> listItems = new List<SelectListItem>();

                    foreach(var list in ViewBag.ShoppingLists) {
                        listItems.Add(new SelectListItem { Text = list.Title, Value = list.ID.ToString() });
                    }

                    using(Html.BeginForm("Index", "Offer", FormMethod.Get)) {
                        <label for="Selection">Vælg indkøbsliste</label>
                        @Html.DropDownList("shoppingListID", listItems, new { @id = "Selection", @class = "form-control", @onchange = "$(this).parent().submit()" })
                    }
                }
                }
            </div>
        </div>
    }
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#all" data-toggle="tab">Alle tilbud</a></li>
    @foreach(var store in ViewBag.Stores) {
        <li><a href="#@store.Replace(" ", String.Empty)" data-toggle="tab">@store</a></li>
    }
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="all">
        <p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1 text-center">Tilføj</th>
                        <th>
                            Navn
                        </th>
                        <th>
                            Pris
                        </th>
                        <th>
                            Mængde
                        </th>
                        <th>
                            Udløber
                        </th>
                        <th>
                            Butik
                        </th>
                    </tr>
                </thead>
                @foreach(var item in Model.Take(100)) {
                    <tr>
                        <td class="col-md-1">
                            @if(ViewBag.ShoppingLists.Count > 0) {
                                using(Ajax.BeginForm(
                                        "AddOfferToShoppingList",
                                        new { offerID = item.ID },
                                        new AjaxOptions { HttpMethod = "POST", OnSuccess = "ChangeToCheck" })) {
                                    <input type="hidden" name="shoppingListId" value="@ViewBag.SelectedShoppingListID" />
                                    if(((IEnumerable<int>)ViewBag.OffersOnListByID).Contains(item.ID)) {
                                        <button id="AddOfferAll_@item.ID" type="submit" class="btn btn-success btn-xs btn-block">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                    } else {
                                        <button id="AddOfferAll_@item.ID" type="submit" class="btn btn-info btn-xs btn-block">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    }
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Heading)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price) kr.
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.End)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Store)
                        </td>
                    </tr>
                }

            </table>
        </p>
    </div>
    @foreach(var store in ViewBag.Stores) {
        <div class="tab-pane fade" id="@store.Replace(" ", String.Empty)">
            <p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1 text-center">Tilføj</th>
                            <th class="col-md-7">
                                Navn
                            </th>
                            <th class="col-md-1">
                                Pris
                            </th>
                            <th class="col-md-1">
                                Mængde
                            </th>
                            <th class="col-md-1">
                                Udløber
                            </th>
                        </tr>
                    </thead>
                    @foreach(var item in Model.Where(i => i.Store == @store).Take(100)) {
                        <tr>
                            <td class="col-md-1">
                                @if(ViewBag.ShoppingLists.Count > 0) {
                                    using(Ajax.BeginForm(
                                            "AddOfferToShoppingList",
                                            new { offerID = item.ID },
                                            new AjaxOptions { HttpMethod = "POST", OnSuccess = "ChangeToCheck" })) {
                                        <input type="hidden" name="shoppingListId" value="@ViewBag.SelectedShoppingListID" />
                                                if(((IEnumerable<int>)ViewBag.OffersOnListByID).Contains(item.ID)) {
                                        <button id="AddOffer_@item.ID" type="submit" class="btn btn-success btn-xs btn-block">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                       } else {
                                        <button id="AddOffer_@item.ID" type="submit" class="btn btn-info btn-xs btn-block">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                       }
                                    }
                                }
                            </td>
                            <td class="col-md-7">
                                @Html.DisplayFor(modelItem => item.Heading)
                            </td>
                            <td class="col-md-1">
                                @Html.DisplayFor(modelItem => item.Price) kr.
                            </td>
                            <td class="col-md-1">
                                @Html.DisplayFor(modelItem => item.Unit)
                            </td>
                            <td class="col-md-1">
                                @Html.DisplayFor(modelItem => item.End)
                            </td>
                        </tr>
                    }

                </table>
            </p>
        </div>
    }
</div>

<p>
    @Html.ActionLink("Hent tilbud fra API igen", "ImportOffers", null, new { @class = "btn btn-default btn-xs" })
</p>

@section Scripts {                          @*  Don't question the JavaScript-Gods!!!                             *@
    @Scripts.Render("~/bundles/homemade")   @*  Magic part that makes the buttons change if POST was succesfull   *@
    @Scripts.Render("~/bundles/jqueryval")  @*  Magic part that makes the AJAX POST possible                      *@
}