@model IEnumerable<ProjectFood.Models.Offer>

@{
    ViewBag.Title = "Tilbud";
}

<script type="text/javascript">
    window.onload = function () {
        $('#Form_all').submit();
        @foreach (var store in ViewBag.Stores)
        {
            <text>$('#Form_@(store.Replace(" ", string.Empty).Replace("ø", string.Empty))').submit();</text>
        }
    };
</script>

@using (Ajax.BeginForm(
    "AddOfferToShoppingList",
    "Offer",
    new AjaxOptions { HttpMethod = "POST", OnSuccess = "ChangeToCheckOffer" },
    new { @class = "hidden", @id = "AddOffer" }))
{
    <input type="hidden" id="shoppingListId" name="shoppingListId" value="@ViewBag.SelectedShoppingListID" />
    <input type="hidden" id="offerID" name="offerId" value="" />
}

<div class="page-header nopadding-xs">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <h1><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;@ViewBag.Title</h1>
            <p class="lead text-muted hidden-xs">
                Her kan du se aktuelle tilbud, fra diverse butikker filtreret efter dine indstillinger.
                Du kan tilføje tilbud til din valgte indkøbsliste, samt se forskellige informationer om tilbudet.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid nopadding">
    <div class="col-md-4 nopadding">
        @if (ViewBag.ShoppingLists.Count > 0)
        {
            List<SelectListItem> listItems = new List<SelectListItem>();

            foreach (var list in ViewBag.ShoppingLists)
            {
                listItems.Add(new SelectListItem { Text = list.Title, Value = list.ID.ToString() });
            }
            <label for="Selection">Vælg indkøbsliste</label>
            @Html.DropDownList("shoppingListID", listItems, new { @id = "Selection", @class = "form-control", @onchange = "GetSelectedList()" })
        }
        else
        {
            <div class="row">&nbsp;</div>
            <div onclick="$('div#createModal').modal('show'); setTimeout(function () { $('input#title').focus() }, 1000);" class="btn btn-primary btn-block">
                Opret ny indkøbsliste
            </div>
            @Html.Partial("_CreateShoppingList")
        }
    </div>
</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="hidden-xs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#all" data-toggle="tab">Alle tilbud</a></li>
            @foreach (var store in ViewBag.Stores)
            {
                <li><a href="#@store.Replace(" ", String.Empty).Replace("ø", string.Empty)" data-toggle="tab">@store</a></li>
            }
        </ul>
    </div>
    <div class="container-fluid nopadding-sides-xs visible-xs">
        <div class="col-xs-12 dropdown">
            <button class="btn btn-primary btn-block" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                Vis tilbud fra&hellip;
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                <li role="presentation" class="active"><a role="menuitem" href="#all" data-toggle="tab">Alle tilbud</a></li>
                <li role="presentation" class="divider"></li>
                @foreach(var store in ViewBag.Stores) {
                    <li role ="presentation"><a role="menuitem" href="#@store.Replace(" ", String.Empty).Replace("ø", string.Empty)" data-toggle="tab">@store</a></li>
                }
            </ul>
        </div>
    </div>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="all">
            <h3 class="visible-xs text-center" style="padding-left:10px;">Alle&hellip;</h3>
            <div id="offerTable"></div>
            <div id="pages">
                @using (Ajax.BeginForm(
                            "GetOffers",
                            "Offer",
                            new AjaxOptions { HttpMethod = "POST", OnSuccess = "ShowOffers" },
                            new { @id = "Form_all" }))
                {
                    <input type="hidden" name="storename" value="all" />
                    <input type="hidden" name="page" value="1" id="page" />
                }
                <nav>
                    <ul class="pager">
                        <li id="previousPage" class="disabled">
                            <a href="#" onclick="ChangePage(this)">
                                <span id="val" class="hidden">0</span>
                                &larr;<span class="hidden-xs"> Forrige side</span>
                            </a>
                        </li>
                        <li id="currentPage" class="">
                            <a href="javascript:void(0);" style="cursor:default;">
                                <span id="val">1</span> ud af <span id="maxPage">@((Model.Count() / 25) + (Model.Count() % 25 > 0 ? 1 : 0))</span>
                            </a>
                        </li>
                        <li id="nextPage" class="">
                            <a href="#" onclick="ChangePage(this)">
                                <span id="val" class="hidden">2</span>
                                <span class="hidden-xs">Næste side </span>&rarr;
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        @foreach (var store in ViewBag.Stores)
        {
            string storename = ((string)store).Replace(" ", string.Empty).Replace("ø", string.Empty);
            <div class="tab-pane fade" id="@storename">
                <h3 class="visible-xs text-center" style="padding-left:10px;">@store</h3>
                <div id="offerTable"></div>
                <div id="pages">
                    @using (Ajax.BeginForm(
                            "GetOffers",
                            "Offer",
                            new AjaxOptions { HttpMethod = "POST", OnSuccess = "ShowOffers" },
                            new { @id = "Form_" + storename }))
                    {
                        <input type="hidden" name="storename" value="@storename" />
                        <input type="hidden" name="page" value="1" id="page" />
                    }
                    <nav>
                        <ul class="pager">
                            <li id="previousPage" class="disabled">
                                <a href="#" onclick="ChangePage(this)">
                                    <span id="val" class="hidden">0</span>
                                    &larr;<span class="hidden-xs"> Forrige side</span>
                                </a>
                            </li>
                            <li id="currentPage" class="disabled">
                                <a href="#">
                                    <span id="val">1</span> ud af <span id="maxPage">@((Model.Where(o => o.Store.Replace("ø", string.Empty).Replace(" ", string.Empty) == storename).Count() / 25) + (Model.Count() % 25 > 0 ? 1 : 0))</span>
                                </a>
                            </li>
                            <li id="nextPage" class="">
                                <a href="#" onclick="ChangePage(this)">
                                    <span id="val" class="hidden">2</span>
                                    <span class="hidden-xs">Næste side </span>&rarr;
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {                              @*  Don't question the JavaScript-Gods!!!                             *@
@Scripts.Render("~/bundles/homemade")       @*  Magic part that makes the buttons change if POST was succesfull   *@
@Scripts.Render("~/bundles/jqueryval")      @*  Magic part that makes the AJAX POST possible                      *@
}
