@model IEnumerable<ProjectFood.Models.Offer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header nopadding-xs">
    <div class="row">
        <div class="col-md-6">
            @if (ViewBag.SearchTerm != null)
            {
                <h1>Søger efter tilbud på:</h1>
            }
            else
            {
                <h1>Søg efter tilbud</h1>
            }
        </div>

        <div class="col-md-6">
            @{if (ViewBag.ShoppingLists.Count > 0)
            {
                List<SelectListItem> listItems = new List<SelectListItem>();

                foreach (var list in ViewBag.ShoppingLists)
                {
                    listItems.Add(new SelectListItem { Text = list.Title, Value = list.ID.ToString() });
                }
                <label for="Selection">Vælg indkøbsliste</label>
                @Html.DropDownList("ListSelect", listItems, new { @id = "Selection", @class = "form-control", @onchange = "GetSelectedList()" })

            }
            }
            
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm("SearchDone", "Offer"))
        {
            <div class="input-group input-group-lg">
                @Html.TextBox("id", "", new { @placeholder = "Søge efter vare (fx kylling)", @class = "form-control" })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Søg!</button>
                </span>
            </div>
        }
    </div>
</div>




<div>
    @if (ViewBag.Offers.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1 text-center">Tilføj</th>
                    <th>Navn</th>
                    <th>Pris</th>
                    <th>Mængde</th>
                    <th>Udløber</th>
                    <th>Butik</th>
                </tr>
            </thead>
            @foreach (var offer in ViewBag.Offers)
            {
                <tr>
                    <td class="col-md-1">
                        @if (ViewBag.ShoppingLists.Count > 0)
                        {
                            using (Ajax.BeginForm(
                                "AddOfferToShoppingList",
                                new { offerID = offer.ID },
                                new AjaxOptions { HttpMethod = "POST", OnSuccess = "ChangeToCheckOffer" }))
                            {
                                <input type="hidden" name="shoppingListId" id="shoppingListId" value="@ViewBag.ShoppingLists[0].ID" />
                                <button id="AddOfferAll_@offer.ID" type="submit" class="btn btn-info btn-xs btn-block">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            }
                        }
                    </td>
                    <td>@offer.Heading</td>
                    <td>@offer.Price kr.</td>
                    <td>@offer.Unit</td>
                    <td>@offer.End.ToString("ddd d- M")</td>
                    <td>@offer.Store</td>
                </tr>
            }
        </table>
    }
    else if (ViewBag.SearchTerm == null)
    {

    }
    else
    {
        <h2>Ingen tilbud fundet, prøv alternativt søgeord</h2>
    }
</div>

<script type="text/javascript">
    function GetSelectedList() {
        $('input#shoppingListId').val($('#Selection').val());
    };
</script>

@section Scripts {                      @*  Don't question the JavaScript-Gods!!!                             *@
@Scripts.Render("~/bundles/homemade")   @*  Magic part that makes the buttons change if POST was succesfull   *@
@Scripts.Render("~/bundles/jqueryval")  @*  Magic part that makes the AJAX POST possible                      *@
}